version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: ekspedisi_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-admin}
      POSTGRES_DB: ${POSTGRES_DB:-buku_ekspedisi}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ekspedisi_app
    restart: always
    ports:
      - "${APP_PORT:-3000}:3000"
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-admin}@db:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-buku_ekspedisi}
      NODE_ENV: development
      BLOB_READ_WRITE_TOKEN: ${BLOB_READ_WRITE_TOKEN}
    depends_on:
      - db

volumes:
  db_data:
